[Desktop Entry]
Version=1.0
Type=Application
Comment=Mod manager with LOOT integration
Name=Limo
Categories=Utility;FileTools;
Icon=limo
MimeType=x-scheme-handler/nxm;
Exec=Limo %u
Terminal=false
